@font-face {
    font-family: 'BYekan';
    src: url('../Font/BYekan.ttf') format('truetype');
}

@font-face {
    font-family: 'Iranian Sans';
    src: url('../Font/Iranian Sans.ttf') format('truetype');
}

.material-icons {
    font-family: 'Material Icons' !important;
}

.me-rtl {
    direction: rtl;
}

.me-ltr {
    direction: ltr;
}

.me-rtl-textfield {
    text-align: right;
}

.me-margin-textfield {
    margin-top: 5px;
    margin-bottom: 15px;
}

.me-button-second {
    font-size: 15px;
    height: 29px;
    line-height: 0px;
}

div.picker table {
    font: 16px Tahoma !important;
}


a {
    text-decoration: none !important;
}



