.quick-menu {
    margin: 45px 0 0 0;
    border-radius: 10px;
    background-color: #4caf50;
    padding: 14px;
    text-align: center;
    text-decoration: none !important;
    color: #fff;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);
}

    .quick-menu a {
        text-decoration: none !important;
        color: #fff;
    }


.product-content {
    word-break: break-word;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}


    .product-content .name {
        padding: 5px;
    }


    .product-content .old-price {
        margin: 5px;
        min-height: 20px;
        background-color: rgb(230, 230, 230);
        font-size: smaller;
        text-decoration: line-through;
        color: rgb(179, 176, 176);
        border-radius: 40px;
    }


    .product-content .new-price {
        color: #4CAF50;
        padding: 5px;
    }
